{% extends 'base.html' %}

{% block title %}
Programs
{% endblock %}

{% block content %}
    <h1>All programs</h1>
    {% if current_user.admin == 1 %}
    <a href="{{ url_for('admin.create_program') }}" class="button is-primary">Create new program</a>
    {% endif %}

    {% if programs %}
        <div class="content">
            {% for program in programs %}
                <div class="box">
                    <h2 class="title is-4">{{ program.title }}</h2>
                    <p>{{ program.description }}</p>
                    <p><strong>Video:</strong> {{ program.video_url }}</p>
                    <form method="POST" action="{{ url_for('find_job_profession') }}">
                    <button class="button is-link">Go Find Job</button>
                     </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No programs available for the selected profession.</p>
    {% endif %}
{% endblock %}
