{% extends 'base.html' %}


{% block title %}
    Submission
{% endblock %}


{% block content %}
    <h3>Submission of work</h3>
    <hr>
    {% with msgs = get_flashed_messages(with_categories=True) %}
    {% for category, message in msgs %}
            {% if category == 'error' %}
                <div class="flash-error">
                    {{ message | safe }}
                </div>
            {% else %}
                <div class="success">
                    {{ message | safe }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <div class="forms">
    <form method="POST" action="{{ url_for('submission', job_id=job_id) }}">
        {{ form.hidden_tag() }}


        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_="form-control") }}
            {% for error in form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.GitHub_Url.label }}
            {{ form.GitHub_Url(class_="form-control") }}
            {% for error in form.GitHub_Url.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.employer_id.label }}
            {{ form.employer_id(class_="form-control") }}
            {% for error in form.employer_id.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <br><br>
        <button type="submit" class="btn btn-primary">Submission work</button>
    </form>
</div>



{% endblock %}